<H1>Liste des Pokémons</H1>
<span *ngFor="let observable$ of pokemons">
  <span *ngIf="observable$ | async as pokemon">
    <img src="{{pokemon.sprites.front_default}}" alt="">
<!--    {{pokemon.name}}-->
  </span>
</span>

